/* app css stylesheet */

.main-container {
    padding-top: 60px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}

.loan-item{

}

.carousel-caption {
    height: 250px;
    width: 250px;
}

body {
    background-image: url('../img/textures/snow_01.jpg');
    background-position: center;
    background-attachment: fixed;
}