/* app css stylesheet */


body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h3 {
    color: #e7ffcc;
    font-family: 'museo_slab500', serif;
    -webkit-font-smoothing:antialiased;
}

.body-wrapper {
    background-color: #34241d;
    margin: 30px;
}

.logo-stripe {
    background-color: white;
    position: relative;
    width: 100%;
}

.main-container {
    padding-top: 60px;
}

#img-container{
    overflow-x: scroll;
    position: relative;
}

#images {
    width: 2000px;
}

.right-scroller {
    background-color: #bbb;
    font-size: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}

body {
    background-image: url('../img/textures/snow_01.jpg');
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: white;
    height: 85px;
}

.navbar-brand {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.navbar-nav {
    float: right;
    padding-top: 20px;
}

.carousel-caption {
    height: 250px;
    left: 10%;
}

.l-name {
    float: left;
}

.l-desc {
    position: relative;
    top: 90%;
}

.emphasized {
    box-shadow: 0 0 0.5em 0.5em #443838;
}
