/* app css stylesheet */


body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h3 {
    color: #e7ffcc;
    font-family: 'museo_slab500', serif;
    -webkit-font-smoothing:antialiased;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}

.body-wrapper {
    background-color: #34241d;
    margin: 30px 0px;
    padding: 0;
    width: 100%;
}

.logo-stripe {
    background-color: white;
    position: relative;
    width: 100%;
}

.main-container {
    padding-top: 60px;
}

#img-container{
    overflow-x: scroll;
    position: relative;
}

#images {
    width: 2000px;
}

.right-scroller {
    background-color: #bbb;
    font-size: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.loan-item{

}


.navbar {
    background-color: white;
    height: 85px;
}

.navbar-brand {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.navbar-nav {
    float: right;
    padding-top: 20px;
}

.l-name {
    font-family: 'museo_slab500', serif;
    float: left;
    font-size: 34px;
    width: 100%;
}

.l-desc {
    position: relative;
    top: 70%;
}

.l-country {
    display: inline;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.emphasized {
    position: relative;
    overflow: hidden;
    width: 350px;
    /*box-shadow: 0 0 0.5em 0.5em #443838;*/
}

.fb-banner {
    font-size: 12px;
}

.prog-bar {
    color: #fff;
    text-align: right;
    height: 25px;
    background-color: #0ba1b5;
    border-radius: 3px;
}

.carousel-control {
    z-index: 10;
}

.carousel-control:hover {
    cursor: pointer;
}

.carousel-caption {
    height: 350px;
    margin: 0;
    padding: 0;
    width: 350px;
}

.loan-show {
    height: 500px;
    width: 500px;
    background-color: yellow;
}

#relative {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 350px;
    width: 350px;
}
