<div ng-init="init()">



    <div class="row" ng-repeat="category in kivalist">

        <h3>{{category.name}}</h3>
        <carousel >
          <slide ng-repeat="slide in category.slides" >
              <div class="col-md-3" ng-repeat="loan in slide">
                  <div id="relative">
                  <img ng-src="{{loan.short_image_url}}" class="emphasized" style="margin:auto;width:350px;">
                  <div ng-click="flipImage()" class="carousel-caption">
                      <h4 class="l-name">{{loan.borrower_name}}</h4>
                      <img ng-src="{{loan.flag_url}}" class="flag" alt="flag" style="width:35px;height:20px;">
                      <h4 class="l-country">{{loan.country}}</h4>
                      <div class="prog-cont">
                        <div class="prog-bar">{{setProgress(loan.funded_percentage)}}</div>
                      </div>
                  </div>
                  </div>
              </div>
          </slide>
        </carousel>

    </div>
</div>
